body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {

}
body {
}
.table-titulo {
  display: none;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  background: orange;
  list-style-type: none;
  overflow: hidden;

}

        ul li {
          display: inline-block;
          margin: 0;
          padding: 10;
          width: 12%;
          background: orange;
          font-family: bebas-kai, sans-serif;
          color: black;
          font-size: 25px;
          position: relative;

        }

         a:hover{
          cursor: pointer;
          color: red;
          transition: 1s;
        }
        a {
          display: block;
          font-size: times, serif;
          color: black;
          font-size: black;
          font-weight: 400;
          text-decoration: none;
        }
        li ul li {
          display:none;
        }

section.dramatis {
  background-image: url("../images/web_background_2.png");
  background-size: cover;
  background-attachment: scroll;
  padding-bottom: 10px;
  margin: 0;
}
        h1.dramatishead, p.play_location {
          margin-top: 0;
          padding-top: 10%;
          font-size: 30px;
          font-family: bebas-kai, sans-serif;
          font-weight: 400;
          word-break: normal;
          color:  black;
          text-align: center;
        }
                  p.charactername {
                    font-family: bebas-kai, sans-serif;
                    color: black;
                    font-size: 25px;
                    text-align: left;
                    margin-left: 7%;

                  }
                  .character_role {
                    font-family: times, serif;
                    color: black;
                    font-size: 18px;
                  }
                  .charactername_1 {
                    font-size: 18px;
                    font-family: bebas-kai, sans-serif;
                    margin-left: 7%;
                  }

section.play {

}
div.sceneImage {
  size: 100%

}




h1.act {
  padding: 8%;
  font-size: 40px;
  font-family: bebas-kai, sans-serif;
  font-weight: 400;
  word-break: normal;
  color: black;
  text-align: center;
  background-image: url("../images/sand.png");
  background-size: cover;
  margin: 0;

}

    h2.firstscene, h2.scene {
      font-family: bebas-kai, sans-serif;
      color: orange;
      word-spacing: 15%;
      text-align: center;
      font-size: 30px;
      font-weight: 400;
      border-top: solid 15px orange;
      margin-top: 0;
      padding-top: 2%;

}
    h2.location {
      font-size: 20px;
      font-family: times, serif;
      color: black;
      text-align: right;
      padding-bottom: 2%;
      margin-right: 5%;
}

    h2.stagedirection  {
      font-size: 18px;
      font-family: times, serif;
      color: black;
      text-align: right;
      margin-right: 5%;
      text-decoration: none;
      font-weight: normal;

}
              .character_inline {
                text-transform: uppercase;
                font-family: bebas-kai, sans-serif;
                font-size: 19px;
                font-weight: 700;
                color: black 90%;

              }
              p.character {
                font-family: interstate-compressed, sans-serif;
                text-transform: uppercase;
                font-size: 25px;
                margin-left: 5%;
                font-weight: 700;
                font-style: normal;

              }

              p.prose, p.verseline {
                font-family: times, serif;
                font-size: 15px;
                margin-left: 5%;

}
h2.scene {

}
              p.song {
                font-family: times, serif;
                font-size: 15px;
                margin-left: 5%;
                font-style: italic;


              }

p.verseline {

}
span.character_role {
}
              span.stage_directions_inline {
                  font-family: times, serif;
                  font-size: 15px;
                  font-weight: bold;


              }









}
