.arriba {
  background-color: orange;
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  width:100%;
  height: 7%;
}
<<<<<<< HEAD
a {
  position: sticky;
  list-style-type: none;
  border: solid 1px rgb(218, 187, 128);
  margin-left: 75%;
  width: 20%;
  height: 30%;
=======
.readme {
position: sticky;
list-style-type: none;
font-family: bebas-kai, sans-serif;
font-size: 25px;
font-weight: 100;
text-align: right;
background-color: rgb(255, 238, 199);
width: 20%;
height: 10%;
}
a {
>>>>>>> bf4546e7e9690f7af34ede2d64da96fb2e1d2b64
  font-family: bebas-kai, sans-serif;
  font-size: 25px;
  font-weight: 100;
  text-align: right;
<<<<<<< HEAD
  padding: 2px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover {
  cursor: pointer;
  color: rgb(103, 166, 198);
}

.introblock {
background-image: url("../images/web_background_2.png");
background-size: cover;
left: 0;
right: 0;
width: 100%;
height: 50%;
}

.author {
    color: orange;
    font-family: bebas-kai,serif;
    font-size: 50px;
    font-style: normal;
    padding: 100px;
    font-weight: 100;
    text-align: center;
    word-wrap: break-word;

  }


.sypnosis {


=======
  text-decoration: none;
  color: rgb(210, 69, 0);
}
ul:hover {
  cursor: pointer;
  color: red;
}

.introblock {
  background-image: url("img/web_background_1.png");
  background-size: cover;
}

.author {
    color: orange;
    font-family: bebas-kai,serif;
    font-size: 50px;
    font-style: normal;
    padding: 50px;
    font-weight: 100;
    text-align: center;
  }


.sypnosis {


>>>>>>> bf4546e7e9690f7af34ede2d64da96fb2e1d2b64

}


p {
font-family: times,serif;
padding-left: 50px;
padding-right: 50px;
color: black;
text-align: justify;
}

.lista {


}
<<<<<<< HEAD
=======
ul ul li {
  list-style-type: circle;
  text-decoration: overline;
}
>>>>>>> bf4546e7e9690f7af34ede2d64da96fb2e1d2b64
