body {
  margin:0;
  padding: 0;
  border: 0;
}


.introblock {
  background-image: url("../images/web_background_2.png");
  background-size: cover;
  left: 0;
  right: 0;
  width: 100%;
  height: 70%;
  padding-bottom: 5%;

}

.author {
    color: orange;
    font-family: bebas-kai,serif;
    font-size: 60px;
    font-style: normal;
    padding: 100px 20px;
    font-weight: 100;
    text-align: center;
    word-wrap: break-word;
    word-spacing: 10px;
    letter-spacing: 4px;
    animation-name: authors;
    animation-duration: 2s;
    }



@keyframes authors {
From {opacity: 0;}
To {opacity: 1;}
}



.navbar {
background-color: ;
padding: 15px;
animation-name: fadeIn;
}

a {
font-family: bebas-kai, serif;
color: orange;
text-decoration: none;
text-align: center;
font-size: 25px;
padding-left: 8%;
padding-right: 8%;
padding-top: 1%;
padding-bottom: 1%;
}

a:hover {
  background-color: lightblue;
}

.sypnosis {
  font-family: times, sans-serif;
  font-size: 25px;
  word-wrap: normal;
  color: black;
  text-align: justify;
  padding: 40px;
  background-image: url("../images/sand.png");
  background-size: cover;
  animation-name: resumen;
  animation-duration: 3s;

}

@keyframes resumen {
  From {

  }

}

div.cover_image {
  float: right;
}

img {
  width: 250px;
  height: 350px;
  float: right;
  display: inline;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 15px;
}


p {
font-family: times,serif;
padding-left: 50px;
padding-right: 50px;
color: black;
text-align: justify;
}

.lista {
text-align: center;
border: solid orange 2px;
margin-left: 0;
margin-right: 0;
right: 0;
left: 0;
margin-top: 70px;
}

ul li {
  list-style: none;
  display: inline-flex;
  font-size: 25px;
  color: black;
  font-family: bebas-kai, sans-serif;
  font-weight: 700;
  margin-left: 15%;

}
